.label {
    background-color: #b8cedb;
    width: 80px;
    margin-top:-2px;
    box-shadow: 0px 2px 2px 0px #8ea2af;
}

.label__margin-top--fold {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 2px solid #e6e0e03d;
}

.label__font {
    font-family: "Arial", serif;
    font-size: 12px;
    font-weight: bold;
}

.weather-label__font {
    font-size: 20px;
    font-family: Arial, serif;
}

.weather-label {
    padding: 1em;
}