.slider-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    max-width: 200px;
}

.slider::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #56a0ee;
    margin-top: -5px;
}

.slider:focus {
    outline: none;
}