.tile {
    border-top: 2px solid #a5adb13b;
    border-bottom: solid #e6e0e0;
    border-left: .7px solid #e6e0e0;
    border-right-color:#a5adb13b;
    background-color: #fbfbfb;
    border-radius: .2em;
    box-shadow: 3px 4px 5px lightgray;
}

.tile-input {
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}