.weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.weather-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}