.weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.widget {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
}

@keyframes onload-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.widget-load {
    animation: 1s ease-in 0s 1 onload-fade-in;
}

.weather-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-label__font {
    font-size: 20px;
    font-family: Arial, serif;
}

.weather-label {
   padding-left: 25px;
}

.weather-day-label {
    width: 115px;
}

.weather-date-label {
    width: 50px
}

.weather-input {
    width: 100px;
    outline:none
}

.weather-input:hover {
    border-color: #b8cedb;
    transition: .1s linear;
}

.icon {
    padding: 1em;
}

.weather-label__margin-top--fold {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 2px solid #e6e0e03d;
}

.weather-label__top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.day-tile {
    width:140px;
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.day-tile:hover {
    border-color: #b8cedb;
    transition: .1s linear;
}