.weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.widget {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.weather-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-label__font {
    font-size: 20px;
    font-family: Arial, serif;
}

.weather-label {
   padding-left: 25px;
}

.weather-input {
    width: 100px;
}