.day-tile {
    border-top: 2px solid #e6e0e0;
    border-bottom: solid #e6e0e0;
    border-left: .7px solid #e6e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #fbfbfb;
    border-radius: .2em;
    width:140px;
    box-shadow: 3px 4px 5px lightgray;
    font-family: unset;
    margin: 1em;
}

.day-tile .day-tile__day {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 4px solid #b8cedb;
    background-color: #b8cedb;
    width: 80px;
    margin-top:-2px;
    box-shadow: 0px 2px 2px 0px #8ea2af;
    font-family: "Arial", serif;
    font-size: 12px;
    font-weight: bold;
}